body{
    font-family: arial,sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    width: 400px;
}

input{
    padding: 10px;
    width: 70%;
}

button{
    padding: 10px;
    cursor: pointer;
}

.input-section{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

li{
    background: #334155;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

li button{
    margin-left: 5px;
}